:root {
  /* boje */
  --background-color: #f5eded;
  --background-color-darker: #e2dad6;
  --primary-color: #7fa1c3;
  --primary-color-darker: #6482ad;
  --text-color: #333333; /* Dark Gray */

  /* font */
  --font-size-desktop: 16px;
  --font-size-mobile: 14px;
  --font-size-tablet: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-desktop);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--background-color);
}

p {
  color: var(--text-color);
}

a {
  all: unset;
  cursor: pointer;
}

li {
  color: var(--text-color);
  font-size: 1rem;
}

h1 {
  color: var(--text-color);
  font-size: 2.5rem; /* 40px */
}

h2 {
  color: var(--text-color);
  font-size: 2rem; /* 32px */
}

h3 {
  color: var(--text-color);
  font-size: 1.75rem; /* 28px */
}

h4 {
  color: var(--text-color);
  font-size: 1.5rem; /* 24px */
}

h5 {
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
}

h6 {
  color: var(--text-color);
  font-size: 1rem; /* 16px */
}
